[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Fuv
[access "refs/for/refs/*"]
	read = group user/Fuv
	push = group user/Fuv
	label-Code-Review = -2..+2 group user/Fuv
	label-Verified = -1..+1 group user/Fuv
	rebase = group user/Fuv
	removeReviewer = group user/Fuv
	submit = group user/Fuv
[access "refs/heads/*"]
	read = group user/Fuv
	create = group user/Fuv
	push = +force group user/Fuv
	pushMerge = group user/Fuv
[access "refs/tags/*"]
	push = +force group user/Fuv
	pushTag = group user/Fuv
	pushSignedTag = group user/Fuv
